html,
body {
    height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.logo {
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    margin: auto!important;
}

.navbar a {
    color: #ffffff!important;
}

.text-green {
    color: #7db115!important;
}

nav {
    background-color: #3838388c!important;
    backdrop-filter: blur(2px);
}

.navbar-nav {
    margin: auto;
}

.jb-blue {
    background-color: #cee3f7!important;
    color: white;
}

.overlay {
    position: relative;
    transition: 1s;
    height: 100%;
    width: 100%;
    background-color: #67464661;
    opacity: 0;
    color: white!important;
    text-align: center;
    padding: 1rem;
    backdrop-filter: blur(4px);
}

.grid-image:hover .overlay {
    opacity: 1;
}

.promojumbo {
    background: rgba(0,0,0,.45) url("../images/hotel-paradox.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    min-height: 300px;
}

.testimonials {
    background-color: rgba(0,0,0,.45);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    min-height: 300px;
    margin-bottom: 0!important;
}

.promo-text {
    font-family: 'Dosis', sans-serif;
    font-size: xx-large;
    text-shadow: 0 0 6px #ffffff;
}

.discount {
    right: 20%;
    position: absolute;
    max-width: 40%;
    filter: drop-shadow(2px 4px 6px #ff3a3aab);
}

.testimonial-user-img {
    border-radius: 100%;
    height: 280px;
    width: 280px;
    object-fit: cover;
    margin-top: 2%;
    position: absolute;
}

.btn-transparent {
    color: #fff;
    background-color: #c7c7c73b;
    border-radius: 100%;
}

.btn-transparent:hover {
    background-color: #ffffff;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-link:hover:after {
    width: 100%;
    left: 0;
}
